**/*old.rb
**/.bundle
**/.yardoc
**/Gemfile.lock
**/_yardoc/
**/coverage/
**/doc/
**/pkg/
**/spec/reports/
**/tmp/
**/*.env
**/.byebug_history
**/lib/cloud_powers/synapse/.DS_Store
**/.DS_Store
**/./**/.DS_Store
**/*.swp
